# rust
target/

# python bytecode
*.pyc
__pycache__

# pip and setuptools
docs/_build
build/
dist/
*.egg-info/
-*.tar.gz
.venv/
/.python-version

# temporary test files and dirs
.coverage
.tox

# temporary editor files
*.sublime-project
*.sublime-workspace
*.swp
