[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mock = "==2.0.0"
six = "==1.10.0"

[dev-packages]
nose = "*"
rednose = "*"
coverage = "*"
mock = "*"
twine = "*"
"flake8" = "*"

[requires]
python_version = "3.6"
