[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mock = "*"
six = "*"

[dev-packages]
rednose = "*"
sphinx-rtd-theme = "*"
sphinx = "*"
tox = "*"
twine = "*"
ipdb = "*"

[requires]
python_version = "3.6"
